
:root {
    --background-color: black;
    --purpura: #290F56;
    --text-color: #fff;
}
.Videoparallax {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -9999;
    overflow: hidden;
}

 .video1 {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

._login-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #333;
}

._login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    background: #c7c7c7;;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 100px var(--purpura);
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

._login-title {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: var(--purpura);
}

._login-input {
    padding: 10px;
    border-radius: 5px;
    margin: 6px 30px;
    border: 1px solid var(--purpura);
    font-size: 1rem;
}

._login-submit, ._login-container ._register-button {
    margin: 6px 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--purpura);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

._login-submit:hover, ._login-container ._register-button:hover {
    background-color: #452a72a9;
    color: var(--text-color);
    border: 1px solid var(--purpura);
}

._login-error {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
}
._login-form {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

._login-submit, ._register-button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--purpura);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.confirmation {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #d4edda;
    color: #155724;
    text-align: center;
}
