.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    background: #c7c7c7;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 100px var(--purpura);
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); }

    
.register label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--purpura);
}

.register input[type="text"],
.register input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--purpura);
    font-size: 1rem;
}

.register input[type="submit"],
.register .login-button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--purpura);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.register input[type="submit"]:hover,
.register .login-button:hover {
    background-color: #452a72a9;
}

.error {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
}
.confirmation {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #d4edda;
    color: #155724;
    text-align: center;
}
